:root {
  --primary-color: #495e57; /* Dark green background color */
  --accent-color: #f4ce14;  /* Yellow button color */
  --text-color: #333333;    /* Dark text color */
  --secondary-text-color: #e67e22; /* Light orange text color */
}

body {
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
}

h1 {
  color: #f4ce14;
}

h2 {
  color:#999999
}

button {
  padding: 0.8rem 1.5rem;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
}

button:hover {
  background-color: #e3b307;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}
